<?xml version="1.0"?>
<!--
/**
 * di
 * @copyright Copyright © 2018 DevStone. All rights reserved.
 * @author    david@nnucomputerwhiz.com
 */
-->
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <!-- Temporal fix to 2.1 problem with eav attributes: https://github.com/magento/magento2/issues/5339 -->
    <type name="Magento\Eav\Model\Entity\AttributeCache">
        <arguments>
            <argument name="unsupportedTypes" xsi:type="array">
                <item name="devstone_usage" xsi:type="string">devstone_usage</item>
            </argument>
        </arguments>
    </type>
    <!-- end temporal fix -->
    <type name="DevStone\UsageCalculator\UI\Component\Listing\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">DevStone\UsageCalculator\Model\ResourceModel\Usage\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">RefGridFilterPool</argument>
        </arguments>
    </type>
    <virtualType name="RefGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>
    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="devstone_usagecalculator_usage_listing_data_source" xsi:type="string">DevStone\UsageCalculator\Model\ResourceModel\Usage\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="DevStone\UsageCalculator\Model\ResourceModel\Usage\Grid\Collection">
        <arguments>
            <argument name="eventPrefix" xsi:type="string">devstone_usagecalculator_usage_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">devstone_usagecalculator_usage_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">DevStone\UsageCalculator\Model\ResourceModel\Usage</argument>
        </arguments>
    </type>
    <virtualType name="DevStoneSizeGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">DevStone\UsageCalculator\Model\ResourceModel\Size\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">DevStoneSizeGridFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="DevStoneSizeGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <virtualType name="DevStoneCategoryGridDataProvider" type="Magento\Framework\View\Element\UiComponent\DataProvider\DataProvider">
        <arguments>
            <argument name="collection" xsi:type="object" shared="false">DevStone\UsageCalculator\Model\ResourceModel\Category\Collection</argument>
            <argument name="filterPool" xsi:type="object" shared="false">DevStoneCategoryGridFilterPool</argument>
        </arguments>
    </virtualType>
    <virtualType name="DevStoneCategoryGridFilterPool" type="Magento\Framework\View\Element\UiComponent\DataProvider\FilterPool">
        <arguments>
            <argument name="appliers" xsi:type="array">
                <item name="regular" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\RegularFilter</item>
                <item name="fulltext" xsi:type="object">Magento\Framework\View\Element\UiComponent\DataProvider\FulltextFilter</item>
            </argument>
        </arguments>
    </virtualType>

    <type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
        <arguments>
            <argument name="collections" xsi:type="array">
                <item name="devstone_usagecalculator_size_listing_data_source" xsi:type="string">DevStone\UsageCalculator\Model\ResourceModel\Size\Grid\Collection</item>
                <item name="devstone_usagecalculator_category_listing_data_source" xsi:type="string">DevStone\UsageCalculator\Model\ResourceModel\Category\Grid\Collection</item>
            </argument>
        </arguments>
    </type>
    <type name="DevStone\UsageCalculator\Model\ResourceModel\Size\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">devstone_downloadable_image_size</argument>
            <argument name="eventPrefix" xsi:type="string">devstone_usagecalculator_size_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">devstone_usagecalculator_size_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">DevStone\UsageCalculator\Model\ResourceModel\Size</argument>
        </arguments>
    </type>

    <type name="DevStone\UsageCalculator\Model\ResourceModel\Category\Grid\Collection">
        <arguments>
            <argument name="mainTable" xsi:type="string">devstone_usage_category</argument>
            <argument name="eventPrefix" xsi:type="string">devstone_usagecalculator_category_grid_collection</argument>
            <argument name="eventObject" xsi:type="string">devstone_usagecalculator_category_grid_collection</argument>
            <argument name="resourceModel" xsi:type="string">DevStone\UsageCalculator\Model\ResourceModel\Category</argument>
        </arguments>
    </type>

    <preference for="DevStone\UsageCalculator\Api\UsageRepositoryInterface" type="DevStone\UsageCalculator\Model\UsageRepository"/>
	<preference for="DevStone\UsageCalculator\Api\Data\UsageInterface" type="DevStone\UsageCalculator\Model\Usage"/>
	<preference for="DevStone\UsageCalculator\Api\Data\UsageSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>

    <preference for="DevStone\UsageCalculator\Api\SizeRepositoryInterface" type="DevStone\UsageCalculator\Model\SizeRepository"/>
	<preference for="DevStone\UsageCalculator\Api\Data\SizeInterface" type="DevStone\UsageCalculator\Model\Size"/>
	<preference for="DevStone\UsageCalculator\Api\Data\SizeSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>

    <preference for="DevStone\UsageCalculator\Api\CategoryRepositoryInterface" type="DevStone\UsageCalculator\Model\CategoryRepository"/>
	<preference for="DevStone\UsageCalculator\Api\Data\CategoryInterface" type="DevStone\UsageCalculator\Model\Category"/>
	<preference for="DevStone\UsageCalculator\Api\Data\CategorySearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>

    <type name="DevStone\UsageCalculator\Model\Usage\Option\Validator\Pool">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="default" xsi:type="object">DevStone\UsageCalculator\Model\Usage\Option\Validator\DefaultValidator</item>
                <item name="drop_down" xsi:type="object">DevStone\UsageCalculator\Model\Usage\Option\Validator\Select</item>
                <item name="radio" xsi:type="object">DevStone\UsageCalculator\Model\Usage\Option\Validator\Select</item>
                <item name="checkbox" xsi:type="object">DevStone\UsageCalculator\Model\Usage\Option\Validator\Select</item>
                <item name="multiple" xsi:type="object">DevStone\UsageCalculator\Model\Usage\Option\Validator\Select</item>
                <item name="text" xsi:type="object">DevStone\UsageCalculator\Model\Usage\Option\Validator\Text</item>
                <item name="area" xsi:type="object">DevStone\UsageCalculator\Model\Usage\Option\Validator\Text</item>
                <item name="file" xsi:type="object">DevStone\UsageCalculator\Model\Usage\Option\Validator\File</item>
            </argument>
        </arguments>
    </type>
    <type name="DevStone\UsageCalculator\Model\Usage\Option\Type\File">
        <arguments>
            <argument name="validatorInfo" xsi:type="object">DevStone\UsageCalculator\Model\Usage\Option\Type\File\ValidatorInfo\Proxy</argument>
            <argument name="validatorFile" xsi:type="object">DevStone\UsageCalculator\Model\Usage\Option\Type\File\ValidatorFile\Proxy</argument>
        </arguments>
    </type>
    <preference for="DevStone\UsageCalculator\Api\Data\UsageCustomOptionInterface" type="DevStone\UsageCalculator\Model\Usage\Option" />
    <preference for="DevStone\UsageCalculator\Api\UsageCustomOptionRepositoryInterface" type="DevStone\UsageCalculator\Model\Usage\Option\Repository" />
    <preference for="DevStone\UsageCalculator\Api\Data\UsageCustomOptionTypeInterface" type="DevStone\UsageCalculator\Model\Usage\Option\Type" />

    <preference for="DevStone\UsageCalculator\Api\UsageCustomOptionTypeListInterface" type="DevStone\UsageCalculator\Model\UsageOptions\TypeList" />
    <preference for="DevStone\UsageCalculator\Api\Data\UsageCustomOptionValuesInterface" type="DevStone\UsageCalculator\Model\Usage\Option\Value" />
    <preference for="DevStone\UsageCalculator\Api\Data\CustomOptionInterface" type="DevStone\UsageCalculator\Model\CustomOptions\CustomOption" />
    <preference for="DevStone\UsageCalculator\Api\Data\UsageOptionInterface" type="DevStone\UsageCalculator\Model\UsageOption" />

<!--
    <type name="Magento\Quote\Model\Quote\Item\Repository">
        <arguments>
            <argument name="cartItemProcessors" xsi:type="array">
                <item name="custom_options" xsi:type="object">Magento\Catalog\Model\CustomOptions\CustomOptionProcessor\Proxy</item>
            </argument>
        </arguments>
    </type>
    <type name="Magento\Sales\Api\OrderItemRepositoryInterface">
        <arguments>
            <argument name="processorPool" xsi:type="array">
                <item name="custom_options" xsi:type="object">Magento\Catalog\Model\UsageOptionProcessor</item>
            </argument>
        </arguments>
    </type>-->
<!--    This is the new hottness but only works if we are using entityManager which isn't in 2.
    <type name="Magento\Framework\EntityManager\Operation\ExtensionPool">
        <arguments>
            <argument name="extensionActions" xsi:type="array">
                <item name="DevStone\UsageCalculator\Api\Data\UsageInterface" xsi:type="array">
                    <item name="read" xsi:type="array">
                        <item name="usageOptionReader" xsi:type="string">DevStone\UsageCalculator\Model\Usage\Option\ReadHandler</item>
                    </item>
                    <item name="create" xsi:type="array">
                        <item name="usage_custom_options" xsi:type="string">DevStone\UsageCalculator\Model\Usage\Option\SaveHandler</item>
                    </item>
                    <item name="update" xsi:type="array">
                        <item name="usageOptionUpdater" xsi:type="string">DevStone\UsageCalculator\Model\Usage\Option\SaveHandler</item>
                    </item>
                </item>
            </argument>
        </arguments>
    </type>-->

    <type name="Magento\Catalog\Block\Product\ListProduct">
        <plugin name="devstone_calculate_price" type="DevStone\UsageCalculator\Plugin\Block\Product\ListProduct" sortOrder="1"/>
    </type>

    <virtualType name="DevStone\UsageCalculator\Ui\Component\Form\Usage\Modifier\Pool" type="Magento\Ui\DataProvider\Modifier\Pool">
        <arguments>
            <argument name="modifiers" xsi:type="array">
                <item name="custom_license" xsi:type="array">
                    <item name="class" xsi:type="string">DevStone\UsageCalculator\Ui\Component\Form\Usage\Modifier\CustomLicense</item>
                    <item name="sortOrder" xsi:type="number">10</item>
                </item>
            </argument>
        </arguments>
    </virtualType>

    <type name="DevStone\UsageCalculator\Ui\Component\Form\Usage\DataProvider">
        <arguments>
            <argument name="pool" xsi:type="object">DevStone\UsageCalculator\Ui\Component\Form\Usage\Modifier\Pool</argument>
        </arguments>
    </type>
    <type name="\Magento\Checkout\Controller\Cart\Add">
        <plugin name="check_max_usage" type="DevStone\UsageCalculator\Plugin\Controller\Cart\Add" sortOrder="10" disabled="false" />
    </type>

    <preference for="DevStone\UsageCalculator\Api\UsageCustomerRepositoryInterface" type="DevStone\UsageCalculator\Model\UsageCustomerRepository"/>
    <preference for="DevStone\UsageCalculator\Api\Data\UsageCustomerInterface" type="DevStone\UsageCalculator\Model\UsageCustomer"/>
    <preference for="DevStone\UsageCalculator\Api\Data\UsageCustomerSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
    <preference for="Magento\Sales\Model\AdminOrder\Create" type="DevStone\UsageCalculator\Model\AdminOrder\Create"/>

</config>
